<!DOCTYPE html>
<!-- <img src="../img/board1.png"> -->
<!-- Ferris2-2.2.3-JAN-12/app/static/img/board1.png -->
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
        margin: 20px;
    }
        #one{
        border-style: ridge;
        border-width: 1px;
        border-color: #E0E0E0;
        height: 20%;
        width: 15%;
        resize: both;
        overflow: hidden;
        box-shadow: 10px 10px 5px #404040;
        background-color: #FFFF99;
    }
    #okaysupposed{
        border: black 2px solid;
    }
</style>
</head>
<body background="/img/board1.png">
<div class="bs-example">
    <ul class="nav nav-tabs" id="def">
    <li><a data-toggle="tab" href="#sectionA">HOME</a></li>
    {% for x in canvas_id %}
        {% set testing = '#' %}
        {% set testing = testing + x %}
        <li><a data-toggle="tab" href={{testing}}>{{x}}</a></li>
    {% endfor %}

    <li><a data-toggle="tab" onclick="myFunction();">+</a></li>
    </ul>
    <div class="tab-content" id="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
            <h3>HOME</h3>
            <p>*insert home body here*</p>
        </div>


{% for x in canvas_id %}
        <div class="tab-pane fade" id={{x}} name="jonaba">
            <h3>{{x}}</h3>
            <p>
{% set mictest = x + "_ox" %}
                   {% for y in canvas_whole %}
                                {% if x == y[0] %}
                                <!-- NOTE ID: {{ y[1] }} -->
                                <!-- <br> -->
                                <form  action="/api/notefires/save_notes"  id={{mictest}} class="" name={{mictest}} method="post">
                                <!--  <textarea id="one" rows="5" name={{ y[1] |e }}>{{ y[2] }}</textarea> -->
                                <textarea id="one" rows="10" name={{ y[1] |e }} onkeyup="wew(this.value);">{{ y[2] }}</textarea>
                                 <!-- the name of the text area will be requested depending on the form where
                                 the submit button was click
                                 example:
                                 i click submit button named "SAVE NOTES"; save will only take effect on the canvas
                                 where i click the save button -->
                                <input  id='ok' name='ok' value={{mictest}}  type="hidden"></input>
                                <input  id='ok' name='ok' value={{mictest}}  type="hidden"></input>
                                {% endif %}
                    {% endfor %}
                    <br><br>
                    <button type="button" id="add-notes" name="add-notes" onclick="addNotes(ok);">ADD NOTES</button>
                    <button type="submit" id="save-notes" name="save-notes">SAVE NOTES</button>
                                </form>
            </p>

        </div>
 {% endfor %}

    </div>  <!--closing div of tab-content -->
</div>   <!--closing div of bs-example -->

<script type="text/javascript">
    function myFunction() {
        var person = prompt("Please give your canvas a title ");
        if (person == null) {  //null is equal to cancel
           //
        }
        else if (person == "") {
            myFunction();
        }
        else{
        var d = new Date();
        var n = d.toISOString();
        newLi = document.createElement("LI");

        canvasTitle = document.createElement("A");
        t = document.createTextNode(person);
        canvasTitle.setAttribute("href","#"+person);
        canvasTitle.setAttribute("data-toggle","tab");
        canvasTitle.appendChild(t);

        newLi.appendChild(canvasTitle);
        deful = document.getElementById('def').appendChild(newLi);
//-------------------------------------------------------------------------------
        //DOM CREATING DIV for section
        var divsection = document.createElement('DIV');
        divsection.setAttribute("class","tab-pane fade");
        divsection.id = person;
        //DOM CREATING <H3>
        var h3title = document.createElement('H3');
        h3content = document.createTextNode(person);
        h3title.appendChild(h3content);
        divsection.appendChild(h3title);
        //DOM CREATING <P>
        var newp = document.createElement('P');
        //DOM CREATING FORM
        var newForm = document.createElement('FORM');
        newForm.setAttribute("action","/api/notefires/save_canvas");
        newForm.id = "okaysupposed";
        //DOM CREATING TEXTAREA
        var newTextArea = document.createElement('TEXTAREA');
        newTextArea.id = "one";
        newTextArea.name = person+"-notte"+ n;
        newForm.appendChild(newTextArea);
        //DOM CREATING Newline
        myNewLine = document.createElement("BR");
        newForm.appendChild(myNewLine);


            // DOM CREATING HIDDEN
            // it handles the canvas name
            canvasHide = document.createElement("INPUT");
            canvasHide.setAttribute("type","HIDDEN");
            canvasHide.id = person+"-notte"+ n;
            alert(canvasHide.id);
            canvasHide.name = 'personal';
            canvasHide.value = person;
        newForm.appendChild(canvasHide);



            // DOM CREATING HIDDEN
            // it handles the txtArea ID
            txtAreaIdHide = document.createElement("INPUT");
            txtAreaIdHide.setAttribute("type","HIDDEN");
            //txtAreaIdHide.id = person;
            txtAreaIdHide.name = 'txtAreaIdHide';
            txtAreaIdHide.value = person+"-notte"+ n;
        newForm.appendChild(txtAreaIdHide);
        //DOM CREATING BUTTON ADD
            var newADDNotes = document.createElement('BUTTON');
            newADDNotesValue = document.createTextNode('ADD NOTES');
            newADDNotes.setAttribute("type", "button");
            newADDNotes.onclick = function(){ hilow(person) };
            newADDNotes.appendChild(newADDNotesValue);
        newForm.appendChild(newADDNotes);
            //DOM CREATING BUTTON SAVE
            var newSaveNotes = document.createElement('BUTTON');
            newSaveNotesValue = document.createTextNode('SAVE');
            newSaveNotes.onclick = function(){ checker(canvasHide) };
            newSaveNotes.setAttribute("type", "submit");
            newSaveNotes.appendChild(newSaveNotesValue);
        newForm.appendChild(newSaveNotes);






        newp.appendChild(newForm);
        divsection.appendChild(newp);





        var divtab = document.getElementById("tab-content");
        divtab.appendChild(divsection);

        }
}

function wew(th){
    alert(th);
    alert(one.value)
}


function hilow(ok){
    try{
        alert('person');
        alert(ok);
        var d = new Date();
        var n = d.toISOString();
        var myNote = document.createElement("TEXTAREA");
        myNote.id = ok+"-notte"+ n;;
        myNote.name = ok+"-notte"+ n;;


        document.getElementById("okaysupposed").appendChild(myNote);
        alert(document.getElementById("okaysupposed").innerHTML);
                    // these commented lines are sample for embedded CSS inside javascript
                    // var myElement = document.querySelector("#"+getter);
                    // myElement.style.backgroundColor = "#D93600";
        //alert(getter);
        // alert(ok[0].value);-- this line gets the corresponding id of form to where
        // you will append the new child

    }
    catch(err){
        alert(err.message);
    }
}
function checker(){
    alert(document.getElementById("okaysupposed").innerHTML);
}


function addNotes(ok){
    alert(ok.value);
        var d = new Date();
        var n = d.toISOString();
        var myNote = document.createElement("TEXTAREA");
        myNote.id = "one";
        myNote.name = ok[0].value+"-notte"+ n;
        var getter = (ok[0].value).toString();
        document.getElementById(getter).appendChild(myNote);
                    // these commented lines are sample for embedded CSS inside javascript
                    // var myElement = document.querySelector("#"+getter);
                    // myElement.style.backgroundColor = "#D93600";
        //alert(getter);
        // alert(ok[0].value);-- this line gets the corresponding id of form to where
        // you will append the new child
    }






</script>
</body>
</html>
