<form  action="/api/notefires/home" method="post">
EMAIL: <input type = "text" id="email" name="email" /> <br><br>
PASSWORD: <input type = "password" id="password" name="password" /> <br>
<button type="submit">LOG IN</button>
</form>
<a href="/api/notefires/signup">REGISTER</a>
