
<form  action="/api/notefires/createuser" method="post">
EMAIL: <input type = "text" id="email" name="email" /> <br><br>
USERNAME: <input type = "text" id="username" name="username" /> <br><br>
PASSWORD: <input type = "password" id="password" name="password" /> <br>
<button type="submit">SIGN ME UP</button>
</form>
<a href="/api/notefires/login">LOG IN</a>


