<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <title>
      {%block title%}{%endblock%}
    </title>
  </head>
  <body>
    <content>
      <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <a class="navbar-brand" href="#">
              byREnX
	    </a>
	  </div>
	  <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user_email}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
		<li><a href="/users/login">Logout</a></li>
              </ul>
            </li>
	  </ul>
	</div>
      </nav>
      {%block content%}
      {%endblock%}
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </content>
  </body>
</html>
