<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to notify</title>

    <!-- Bootstrap -->
    <link href="ng/public/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="ng/public/Font-Awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="ng/public/css/notefy.min.css" rel="stylesheet">
    <link href="ng/public/css/notes.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <modal-create-canvas></modal-create-canvas>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Notefy</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#/notes/get-started">Get Started <span class="sr-only">(current)</span></a>
            </li>
            <li><a href="#/canvas/qoutes">My Notes</a></li>
            <li>
              <a href="" data-toggle="modal" data-target="#canvasModal">
              Create Canvas <i class="fa fa-plus-square"></i>
              </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a  href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Welcome, <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/settings">Settings</a></li>
                <li class="divider"></li>
                <li><a href="#/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

        <div ng-view class="view-frame"></div>

        <div ng-controller="notesController">
          <a class="create-note-btn" title="Create new note" ng-click="createNote()">
            <div class="plus-icon-button plus-icon-home">
              <div class="fa fa-plus plus-icon-display"></div>
            </div>
          </a>
        </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="ng/public/jquery.easing/jquery.easing.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="ng/public/bootstrap/bootstrap.min.js"></script>

    <script src="https://code.angularjs.org/1.2.27/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.27/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.2.27/angular-sanitize.min.js"></script>
    <script src="https://code.angularjs.org/1.2.27/angular-animate.js"></script>

    <!-- App -->
    <script src="ng/app.js"></script>
    <script src="ng/config.js"></script>
    <script src="ng/routes.js"></script>
    <script src="ng/directives.js"></script>
    <script src="ng/filters.js"></script>
    <script src="ng/constants.js"></script>

    <!-- services here -->
    <script src="ng/services/noterest.js"></script>
    <script src="ng/services/auth.js"></script>
    <script src="ng/services/session.js"></script>

    <!-- controllers here -->
    <script src="ng/controllers/canvas.js"></script>
    <script src="ng/controllers/notes.js"></script>
    <script src="ng/controllers/getStarted.js"></script>
    <script src="ng/controllers/application.js"></script>

    <!-- Directives -->
    <script src="ng/directives/shakeThat.js"></script>
  </body>
</html>
