    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading; ">Notefy</h1>
                        <p1 class="intro-text">Taking notes never goes out of style.</p1>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 >About Notefy</h2>
                <p class="brand-heading">Notefy is a simple application for you. </p>
            </div>
        </div>
    </section>

    <!-- Login Section -->
    <login-form></login-form>


    <!-- Register Section -->
    <register-form></register-form>


    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Notefy 2015</p>
        </div>
    </footer>
