{%extends "/layouts/base.html"%}

{%block content%}
<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active">
      <a href="/mails/compose">
	<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Create Canvas</a></li>
    <li role="presentation" ><a href="/mails/index/{{user_email}}">Create Notes</a></li>
    <li role="presentation"><a href="/mails/sentmails">Sent Mail</a></li>
  </ul>
</div>
<div class="col-md-8 panel panel-default" style="min-height:500px;padding-top:30px;">
  <h3>Compose Mail</h3>
  <hr>
  <form action="/mails/compose" class="form" method="POST">
    {%if status == "added"%}
    <p class="alert alert-success">Your message was succesfully sent!</p>
    {%endif%}
    {%if e_msg%}
      <p class="alert alert-danger">{{e_msg}}</p>
    {%endif%}
    <input type="hidden" name="sender" value="{{email}}">
    <div class="form-group">
      <label>Recipient</label>
      <input name="recipient" type="text" name="recipient" class="form-control" required="True">
    </div>

    <div class="form-group">
      <label>Subject</label>
      <input name="subject" type="text" name="recipient" class="form-control" required="True" value="{{subject}}">
    </div>

    <div class="form-group">
      <label>Message</label>
      <textarea name="message" class="form-control" required="True">{{messagex}}</textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
</div>

{%endblock%}

