{%extends "/layouts/base.html"%}

{%block content%}
<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation">
      <a href="/mails/compose">
	<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Compose Mail</a></li>
    <li role="presentation" class="active"><a href="/mails/index/{{user_email}}">Inbox</a></li>
    <li role="presentation"><a href="/mails/sentmails">Sent Mail</a></li>
  </ul>
</div>
<div class="col-md-8 panel panel-default" style="min-height:500px;">
  <div class="col-md-12" style="margin-top:20px;">
    <form action="" class="form-inline" method="POST">
      <span style="font-size: 16px;">Inbox</span>&nbsp;
      <div class="form-group">
	<input type="search" name="subject" placeholder="Search by Subject">
      </div>
      <div class="form-group">
	<button type="submit">
	  GO
	</button>
      </div>
    </form>
    <hr>
  </div>

  <table class="table table-condensed">
    <thead>
      <th>Subject</th>
      <th>Sender</th>
      <th>Message</th>
    </thead>

    <tbody>
      {%for inbox in inboxes%}
      <tr>
	<td>{{inbox.subject}}</td>
	<td>{{inbox.sender}}</td>
	<td>{{inbox.message}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endblock%}

