<modal-create-canvas></modal-create-canvas>
<nav-bar></nav-bar>
<notes-btn></notes-btn>


<div class="jumbotron">
    <h1>Welcome to Notify...</h1>
    <p>Click on the green button to add a note. its on the lower right.</p>
</div>


<div>
    <div ng-repeat="user in results">
        <p>Content: {{ user.content }}</p>
        <p>Canvas Name: {{ user.canvas-name }} </p>
        <p>Creator: {{ user.creator }}</p>
        <p>Date: {{ user.date.timestamp | date:'medium' }}</p>
        <p>ID: {{ user.id }}</p>
    </div>
</div>
