
   <div id="notes-div" contenteditable my-draggable class="well panel-default notes-div"  ng-model="contentsForNotes">
        <!-- <span class="notes-close fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-close fa-stack-1x fa-inverse"></i>
        </span> -->
    </div>

